
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Source Sans Pro', sans-serif;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*----*/
.banner{
background:url(../images/banner.jpg) no-repeat 0px 0px;
min-height:720px;
background-size:cover;
}
.header{
padding:3em 0;
}
.logo{
float:left;
}
.logo a{
display:inline-block;
}
.top-menu{
float:right;
}
.top-menu ul li{
display:inline-block;
}
.top-menu ul li a{
color:#fff;
font-size:1.1em;
padding:1em 1em 0em 1em;
text-decoration:none;
display:block;
font-weight:400;
}
.top-menu ul li a:hover{
color:#0199e6;
}
.banner-text{
margin-top:10%;
text-align:center;
}
.banner-text h1{
font-size:3.2em;
color:#fff;
font-weight:500;
margin-bottom:0.5em;
font-family: 'Raleway', sans-serif;
}
.banner-text h1 span{
color:#0199e6;
font-weight:700;
}
.banner-text h1 label{
font-weight:700;
}
.banner-text h2{
font-size: 1.4em;
line-height: 1.5em;
color: #fff;
font-weight: 300;
width: 60%;
margin: 0 auto;
}
.banner-form form{
background:rgba(0, 0, 0, 0.36);
padding:2em;
width: 88%;
margin:4em auto 0 auto;
}
.banner-form form #searchtext {
width: 35%;
padding: 12px 14px;
border: 1px solid #308ab7;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 400;
display:inline-block;
background:transparent;
border-left:3px solid #308ab7;
border-radius:3px;
margin-right:1em;
}
.banner-form form #searchsubmit{
width: 18%;
padding: 12px 14px;
border: 1px solid #308ab7;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 600;
background:#308ab7;
border-radius:3px;
border-left:5px solid #308ab7;
border-right:5px solid #308ab7;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
}
.banner-form form #searchsubmit:hover{
background:transparent;
border: 1px solid #308ab7;
border-left:8px solid #308ab7;
border-right:8px solid #308ab7;
}
#searchsort
{
width: 18%;
padding: 12px 14px;
border: 1px solid #308ab7;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 600;
background:#308ab7;
border-radius:3px;
border-left:5px solid #308ab7;
border-right:5px solid #308ab7;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
}
.banner-form form #keleyi-com-nav{
font: 12px Geneva, Arial, Helvetica, sans-serif;
}    

#keleyi-com-nav li{
width:18%;
border: 1px solid #308ab7;
list-style: none;
display: block;
float: left;
position: relative;
background:#308ab7;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
color: #fff;
outline: none;
border-radius:3px;
}
#firstli
{
	font-size: 1.4em;
	font-weight:600;
	padding: 12px 32px;
}

#keleyi-com-nav li a{
padding: 0px 10px 0px 30px;
margin: 0px 0;
line-height: 40px;
text-decoration: none;
border-right: 1px solid #636161;
height: 40px;
color: #FFF;
}
#keleyi-com-nav ul{
background: #f2f5f6; 
padding: 0px;
border-radius: 0px 0px 3px 3px;
width:170px;
}

#keleyi-com-nav li:hover{
background: #010101;
}
#keleyi-com-nav li a{
display: block;
}
#keleyi-com-nav ul li {
border-right:none;
border-bottom:1px solid #DDDDDD;
width:170px;
height:39px;
}
#keleyi-com-nav ul li a {
border-right: none;
color:black;
border-bottom:1px solid #FFFFFF;
}
#keleyi-com-nav ul li:hover{background:#DFEEF0;}
#keleyi-com-nav ul li:last-child { border-bottom: none;}
#keleyi-com-nav ul li:last-child a{ border-bottom: none;}
/* Sub menus */
#keleyi-com-nav ul{
display: none;
visibility:hidden;
position: absolute;
top: 102%;
left:0px;
}

/* Fourth-level menus */
#keleyi-com-nav ul li{
display: block;
visibility:visible;
weight:400;
}
#keleyi-com-nav li:hover > ul{
display: block;
visibility:visible;
}
.banner-form form select
{
margin-left:3%;
width:20%;
border:solid 1px #000;
/*
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;*/
padding: 12px 43px ;
border: 1px solid #308ab7;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 600;
border-radius:3px;
background:#308ab7;
border-left:5px solid #308ab7;
border-right:5px solid #308ab7;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
text-align:center;

}
/*
.banner-form form select::-ms-expend
{
	display:none;
}*/

.banner-form form option
{
    appearance:none;
    border-radius: 0px 0px 3px 3px;
}


.pricing{
padding:4% 0;
}
.pricing-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.pricing-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
/*--pricing-grids--*/
.pricing-section{
margin:5% 0 3% 0;
}
.pricing-grid{
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
}
.pricing-top{
border:1px solid #323232;
background:#323232;
padding:1.5em 0;
border-top-left-radius: 0.7em;
  -webkit-border-top-left-radius: 0.7em;
  -o-border-top-left-radius: 0.7em;
  -moz-border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  -webkit-border-top-right-radius: 0.7em;
  -o-border-top-right-radius: 0.7em;
  -moz-border-top-left-radius: 0.7em;
  transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
}
.pricing-top h3{
color:#fff;
font-size:2em;
margin-bottom:7px;
font-weight:500;
}
.pricing-top p{
color:#fff;
font-size:1em;
font-weight:400;
}
.pricing-top p span{
color:#0492da;
font-weight:600;
font-size:1.3em;
}
.pricing-offer {
border:1px solid #eee;
}
.pricing-offer ul li{
display:block;
}
.pricing-offer ul li:nth-child(odd) a{
    background: #f4f4f4;
    border-bottom: 1px dotted;
	border-top: 1px dotted;
}
.pricing-offer ul li a {
  color: rgba(114, 114, 114, 1);
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 16px 0;
  text-decoration: none;
  font-weight: 400;
}
.pricing-grid:hover div.pricing-top,.pricing-grid:hover div.sign a{
background:#0199e6;
color:#fff;
border:1px solid #0199e6;
}
.pricing-grid:hover div.pricing-top p span{
color:#fff;
font-weight:600;
font-size:1.3em;
}

.screenshots{
padding:3% 0;
}
.screen-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}

.footer{
background:#050e12;
padding:2em 0;
text-align:center;
}


