@charset "UTF-8";
/*Add paper and search result*/ 


/*************Common character**************************/
body
{
	background-color:rgba(227, 227, 227, 1);
/*	margin:0 auto;
	text-align:center;*/
}
.container
{
  box-shadow: 0px 0px 10px #1b1b1b;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:white;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
header
{
	height:37px;
	margin-left:8px;
	margin-right:8px;
}
header a
{
	margin-top:0.3em;
}
#left
{
	margin-right:0.2em;
}
#index
{
   float:left;
   font-size:2em;
   color:rgba(204, 204, 204, 1);
}
header #right,#left
{
	float:right;
	font-size:1.2em;
}
.content1
{
	height:150px;
}

.content2
{
	margin-left:6%;
	margin-right:6%;
}

 footer
 {
   background-color:rgba(79, 93, 99, 1);
   clear:both;
   margin-top:1%;
   text-align:center;
 }
 footer span
 {
 	font-size:1.5em;
 }
 /***********Search Result*****************/
 
 /*Search Menu part*/
 #SearchMenu
 {
   margin-left:20%;
 }
#SearchMenu ul
 {
 	border-bottom:none;
 }
  #SearchMenu ul li 
  {
    background-color: none;
    border-radius:0;
  }
  #SearchMenu ul li a
  {
  	 color:rgba(192, 192, 192, 1);
  	 font-size:1.05em;
  }  
  #SearchMenu ul li :hover
  {
  	background-color:none;
  	border-radius:0.35em;
  	opcity:0.5;
  }
  #SearchMenu ul li :active
  {
    background-color:none;
    border-radius:0.35em;
    opcity:0.8;
  } 
  /*show results part*/
  .searchResult
  {
   float:left;
   margin-top:15px;
   margin-bottom:15px;
  }
  .searchResult .title
  {
    float:left;
    color:rgba(45, 105, 135, 1);
    font-size:1.5em;
  }
    .searchResult .download
  {
    float:right;
    color:rgba(58, 135, 173, 1);
    font-size:1.2em;
  }
  .searchResult .part2 a,time
  {
    float:left;
    color:rgba(82, 168, 236, 0.8);
    font-size:1.2em;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
  }
   .searchResult .part3
  {
    margin-left:5px;
    margin-right:5px;
    float:left;
    color:rgba(128, 128, 128, 1);
    font-size:1.2em;
  }
  .searchResult .part4
{
	float:left;
	color:grey;
	font-size:1em;
	margin-left:8px;
	margin-top:5px;
}  
   #SearchInput
 {
   margin-top: 1.5%;
   margin-left:40%;
 }

  #SearchInput a
  {
    color:black;
    font-size:1.5em;
    margin-left:0.5em;
  }

 /********add paper*************/

 .wwFormTable
 {
   margin-left:33%;
 }

 .select
 {
    width:120px;
    margin-top:1%;
    float:left;
 }

  #SearchInput
  { 
    float:left;
  }
 #SearchInput .tdLabel
{
	display:none;
}
.shownum
{
	color:rgba(58, 135, 173, 1);
	font-size:1.2em;
	margin-top:1%;
}
table
{
	margin-top:1%;
}
#content2_center
{
	text-align:center;
	}
#content2_center h3
{
	color:rgba(45, 105, 135, 1);
}

#content_center .description
{
	margin-top:1%;
	margin-bottom:1%;
}
#content2_center a
{
	font-size:1.2em;
}
#content2_center span
{
	font-size:1.1em;
}
#content2_center .date
{
	float:right;
}
#content2_center .keyword
{
	float:left;
}
#content2_center .download
{
	margin-top:5%;
	margin-bottom:3%;
}
#part2 span
{
	margin-top:1%;
	display:block;
}
#part2
{
	margin-top:3%;
	display:block;
}
#part3
{
	margin-top:3%;
	display:block;
}
#part4
{
	margin-top:3%;
	display:block;
}
#part5
{
	margin-top:3%;
	display:block;
}
#part6
{
	margin-top:2%;
	display:block;
	color:red;
}
#part6 .btn
{
	margin-top:2%;
}
#part5 a
{
	margin-left:10%;
}
#part5 .popover-content
{
	font-size:0.6em;
}
#findmore
{
	
	margin-bottom:3%;
	padding-bottom:2%;
	padding-top:2%;
	width:100%;
	border:1px solid rgba(221, 221, 221, 1);
	border-radius:3px;
}
#sort
{
	width:100%;
	float:left;
	display:block;
	list-style-type:none;
	
}
#sort li
{
	float:left;
	font-size:1.1em;
	margin-left:1em;
}